<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}My App{% endblock %}</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="{% url 'index' %}">Menu</a></li>
					<li><a href="{% url 'index_proyecto' %}">Proyectos</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<section>
				{% block content %}
				{% endblock %}
			</section>
		</main>

		<footer>
			<p>&copy;Realized by: Coral Jácome García</p>
			<p>
				<a href="https://github.com/CoralJG">Visit my GitHub</a>
			</p>
		</footer>
	</body>
</html>
